/node_modules
/bak
/public/hot
/public/storage
/public/images
/public/document
/public/uploads
/public/*.pem
/storage/*.key
/vendor
/coverage
/nbproject
/cgi-bin
/.idea
/.vagrant
/.vscode
/.well-known
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.sublime-project
*.sublime-workspace
*.sql
*.zip
.env
.env.backup
.DS_Store
.project
.phpstorm.meta.php
.php_cs.cache
.phpunit.result.cache
Thumbs.db
coverage.xml
composer.phar
composer.lock
*error.log
*error_log
output.txt
_ide_helper.php
.TODO